button.fancy-button {
  background: blue;
  transition-property: background-color, transform;
  transition-duration: 500ms, 500ms;
  transition-delay: 0ms, 500ms;
}

button.fancy-button:hover {
  background: red;
  transform: scale(1.1);
}
