@font-face {
  font-family: 'SomeWebFont';
  src: url('/some-font.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'SomeWebFont';
  src: url('/some-font-bold.woff2') format('woff2');
  font-weight: 700;
}
